

.teamPokemon {
    position: relative;
    background-color: black;
    margin: 0;
    height: 100vh;
}





.teamPokemon .team{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}


.teamPokemon .choose{
    display: flex;
    position: absolute;
    bottom: 6%;
    left: 39%;
}

.teamPokemon .choose button{
    margin-right: 10px;
}