.containerDisplayDescription {
    text-align: center;
    background-color: grey;
    padding: 15px;
    height: 100%;
}
.pokeName {
    color: white;
}
.selectedPokemonButton {
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 40px;
    width: 200px;
    height: 55px;
    color: white;
}
.containerDisplayStats {
    text-align: center;
    background-color: grey;
    padding: 15px;
    height: 100%;
}
.list{
    text-align: center;

}
.selectedDescription {
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 40px;
    width: 200px;
    height: 55px;
    color: white;
}
