.containerDescription {
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    padding-bottom: 200px;
}
.pokeName {
    color: white;
}
.selectedPokemonButton {
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 40px;
    width: 200px;
    height: 55px;
    color: white;
}