.containerDisplayStats {
    margin-top: 150px;
    background-color: grey;
    padding: 15px;
}
.pokeName {
    color: white;
}
.selectedPokemonButton {
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 40px;
    width: 200px;
    height: 55px;
    color: white;
}