.statsContainer {
    background-color: lightblue;
    width: 100%;
    padding-top: 10px;
    background-image: url("https://image.noelshack.com/fichiers/2020/01/6/1578155345-buckkp.png");
    background-position: center;
    background-size: cover;
    animation: fade-in 1s;
    position: absolute;
    bottom: 0;
}

.closeWindowIcon {
    border-radius: 15px;
    background-color: red;
    width: 30px;
    height: 30px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.cardContainer {
    height: 100%;
    width: 100%;
}

.header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.favoritePokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: black;
    width: 70px;
    height: 40px;
    border: solid darkgrey 2px;
    background-color: lightslategray;
}

.favoriteStar {
    width: 50px;
}

.favoriteText {
    color: white;
}

.nameAndLvl {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.statsRender {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-color: rgba(10,0,0,.5);
    padding: 5px;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.statistics h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.twoColumns {
    display: flex;
    padding: 5px;
    margin-right: 5px;
}

.leftStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rightStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.movesAndStats {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.movesStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
}

.typesStats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    color: white;
}

.movesStats h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.itemStats {
    font-size: 14px;
    margin: 2px
}

.pokemonStatsImage {
    width: 70px;
    height: 70px;
}

.itemSpell {
    margin: 0;
    font-size: 14px;
}