.player-one {
    display: flex;
    position: fixed;
    top: 395px;
    left: -780px;
}

.player-two {
    display: flex;
    position: fixed;
    top: 720px;
    left: -360px;
}

.txt-drac {
    position: relative;
    font-size: 36px;
    left: 850px;
    top: -30px;
    color: #FE2E2E;
}

.txt-lokh {
    display: flex;
    position: relative;
    font-size: 36px;
    left: 860px;
    top: -30px;
    right: 200px;
    color: rgb(243, 130, 9);
}    

