.homePage {
    background-image: url("https://image.noelshack.com/fichiers/2019/49/2/1575393316-background.jpg");
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.principalTitle {
    width: 321px;
    height: 80px;
    margin-bottom: 90%;
}
.playButton {
    width: 321px;
    height: 79px;
    margin-bottom: 20%;
    font-family: 'Open Sans';
    font-size: 25px;
    color: azure;
    background: linear-gradient(180deg, #372020 0%, rgba(255, 255, 255, 0) 100%), #D90502;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}