@font-face {
    font-family: "DisposableDroidBB";
    src: url("../fonts/disposabledroid-bb.regular.ttf");
}

.mapRenderContainer {
    font-family: DisposableDroidBB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mapRender {
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fetchedPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popUp {
    text-align: center;
    display: block;
    padding: 20px;
    background-color: black;
    opacity: 70%;
    color: white;
}
.pokemonSprite {
    margin: 25px;
}
.launchFightButton {
    height: 80px;
    cursor: pointer;
}
.mapTitle {
    color: white;
}
.darkBorderMapRender {
    height: 15vh;
    font-size: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemNav {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 15px;
}
.mapRenderAbandoned {
    background-image: url("https://i.pinimg.com/564x/83/36/01/8336017a1662acbbdd85af32a84211c2.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderDesert {
    background-image: url("https://image.noelshack.com/fichiers/2019/50/1/1575910408-desert.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderDojo {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/005/451/012/large/john-moonan-popup1.jpg?1491123063");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderElectrical {
    background-image: url("https://www.pokepedia.fr/images/1/19/Eoliennes_anime.png");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderForest {
    background-image: url("https://image.noelshack.com/fichiers/2019/49/7/1575835953-foret.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderGlacier {
    background-image: url("https://i.ytimg.com/vi/_JgRpTTO29g/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDBiNsLg5UfeP2FB02ZVMrcluRzCw");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderMountain {
    background-image: url("https://image.noelshack.com/fichiers/2019/49/7/1575772803-montagne.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderOcean {
    background-image: url("https://image.noelshack.com/fichiers/2019/49/4/1575563477-mer.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderPath {
    background-image: url("https://i.pinimg.com/564x/64/0a/e0/640ae02ae001f7906aba2d2b343b10ad.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderPlain {
    background-image: url("https://i.pinimg.com/originals/85/b0/71/85b0714c5bda6ba66bd7c8c9a75abb3e.png");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRenderVolcano {
    background-image: url("https://image.noelshack.com/fichiers/2019/50/1/1575908191-volcan.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


