.PokeCenterContainer {
    background-color: black;
    background-image: url("https://image.noelshack.com/fichiers/2019/50/4/1576169341-cpin.jpg");
    background-repeat: no-repeat;
    background-size: 800px 100vh;
    background-position: center;
    height: 100vh;
}

.footerContainerPokeCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.navBarPokeCenter {
    width: 100%;
}

.messagePokeCenter {
    width: 99%;
    position: absolute;
    top: 40%;
    text-align: center;
    background-color: white;
    border: solid 2px black;
}

.joelle {
    display: flex;
    height: 100px;
    width: 70px;
    position: absolute;
    top: 30%;
    right: 41%;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.3);
}

.pc {
    display: flex;
    height: 180px;
    width: 70px;
    position: absolute;
    top: 30%;
    left: 2%;
    cursor: pointer;
}

.doubleTipsContainerPokeCenter {
    border: solid 2px black;
}

.okButtonPokeCenter {
    color: white;
    background-color: red;
    border: none;
    padding: 15px 25px;
    position: absolute;
    left: 40%;
    top: 120%;
}
.okButtonPokeCenter:active {
    transform: scale(2);
}

.doubleTipsPokeCenter {
    margin: 5px;
    padding: 10px;
}

.tipsPokeCenter {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
}