.pokemonCard {
    background-color: lightskyblue;
    display: flex;
    height: 100px;
    width: 170px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("https://image.noelshack.com/fichiers/2019/50/6/1576362067-whitepokeball.png");
    background-position: top left;
    background-size: 45px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}

.imgAndXp {
    display: flex;
    flex-direction: column;
}

.favorite {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/44/Plain_Yellow_Star.png");
    background-size: contain;
    width: 25px;
    height: 25px;
}

.pokemonImage {
    width: 50px;
    height: 50px;
}

.pokemonStats {
    display: flex;
    flex-direction: column;
}

.pokeName {
    font-size: 18px;
    color: white;
    margin: 5px;
}