.containerStarter {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.titleChoose {
    text-align: center;
    background: gray;
    color: red;
    margin: 0;
    padding: 10px;
}
.threePokemons {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("https://image.noelshack.com/fichiers/2019/49/3/1575457002-centre-ville.jpg");
    background-size: cover;
    padding: 50px 0;
    height: 100%;
}
.pokemon {
    margin-top: 25px;
    padding: 15px;
    cursor: pointer;
}